# Sbt target folders (compiled code and binaries)
target/
project/target/
project/project/

# IDE specific files
.idea/
*.iml
.vscode/
.bsp/
.metals/

# Bloop (build server) files
.bloop/

# Logs and temp files
*.log
.history/